*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #B3B6B7;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0 ;
    gap: 40px 60px;
}
.drop{
    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05), 25px 35px 20px rgba(0,0,0,0.05), 25px 30px 30px rgba(0,0,0,0.05), inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    background-color: #ECF0F1;
}

.drop:nth-child(1){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
}
.drop:nth-child(2){
    border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
}
.drop:nth-child(3){
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}

.drop:hover{
    border-radius: 50%;
}
.dorp::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.9;
}
.dorp::after{
    content: '';
    position: absolute;
    top: 90px;
    left: 110px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.9;
}
.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}
h4{
    font-size: 40px;
    font-weight: 500;
}
.h4{
    font-size: 100px;
    font-weight: 500;
}
 